*{  
margin:0;
padding: 0;
}

p{
    color: rgb(219, 207, 207);
    display: inline;
    width: 100%;
    padding: 20vh;
    font-style:italic;
    font-size: 20px;
    text-align: center;
}

.cabecalho{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 125px;       
}
#logo_git{
    display: inline-block;
    margin-left: 10vh;
    width: 18%;
    height: 120px;
}

.menu{
    background-color: rgb(110, 109, 109);
    width: 100%;
    height: 60px;
    box-shadow: -2px 1px 10px #6b6a6b, 1px 1px 6px #686767;
           
}
.menu a {
    
    font-family: 'Courier New', Courier, monospace;
    
    display: inline;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 30px;
    position: relative;
    top: 7px;

   
}
/* .box{
    font-size: 25px;
    background-color: rgb(79, 126, 126);
    display: inline-block;
    width:30%;
    border: 3px black solid;
    
} */
    
button{
    display: inline;
    background-color: rgb(253, 194, 253);
    margin: 4px;
    width: 7vh;
    height: 7vh;
    border:none;
    border-radius: 50%;
    align-content: center;
    box-shadow: -2px -1px 8px #db2d7f, 1px 1px 1px #ddaeba;

}
h4{
    padding: 1vh;
    color:rgb(78, 76, 76);
    font-size: 18px;
}
.fixarRodape {
    background-color: rgb(255, 199, 246);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    box-shadow: -1px -0px 15px #db2d7f, 1px 1px 1px #ddaeba;
    
    
}


.funcionarios{

    background-color: rgb(110, 109, 109);
    height: 100px;
    width: 150px;
  
    
}
