*{
    margin:0;
    padding: 0;
    text-decoration:none;
    
    font-size: 24px;  
}
#bory-container{
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: 60px 1fr 60px;
    color: #080808;
    height: 100vh;
    color:white;
}

#bory-container1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px;
    height: 100vh;
}
header{
    background-color:rgb(19, 194, 185) ;
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    
}

.movie-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    height: 100%;
    color: #333333;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 227, 231);

}
.card-movie {
    display: grid;
    box-shadow: 2px 2px 12px rgb(17, 17, 17);
    width: 200px;
    color: #333333;
}
video{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
   
}
.fullscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    
}

footer{
    background-color:rgb(19, 194, 185)  ;
    display: flex;
    align-items: center;
    justify-content: center;    
    height: 100%;
    grid-column: 1/-1;
    
    
}